@import "variable.scss";

/* メインパーツにid or class をindexをボディにつけ、その中に入れ子にしてCSSを記述する */
/* プラウザのキャッシュクリア　ショートカット　Command ＋shift + R */

/* フォントファミリー　あとで決める */

/* Scss記述に修正する。 */

/* ログインしたときの色 */
/* ログインしている時 いろ変えたい時 */
/* .header-color{
  background-color:transparent;
}  */

/* ログイン前のヘッダー */
#index {
  position: relative;
}
.main_header {
  background-color: $background-color;
  position: relative; /* navBtn用のposition:relative */
  .header-contents {
    display: flex;
    justify-content:space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 10px 0;




    /* .logo {
      align-items: top;
    } */
    a {
      font-size: 1.5rem;
      &:hover {
        color: black;
        cursor: pointer;
      }
    }
    .header-list {


      display: flex;
      li:not(:last-of-type) {
        padding-right: 40px;
      }
      li {
        text-align: center;

        a {
          font-size: 0.9rem;
          font-weight: bold;

          span {
            font-size: 0.7vw;
          }
          &:hover {
            color: black;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.header-list2 {
  display: flex;
  text-align: right;

  font-size: 0.5rem;
  padding-top:10px;


  /*   li:not(:first-of-type) {
    padding-right: 40px;

  } */
  li {

  /*   padding-left: 40px; */
    text-align: right;
    .list {
      font-size: 1rem;
      font-weight: bold;

    }

    &:hover {
      color: black;
      cursor: pointer;
    }
  }
  li:not(:first-of-type) {
    margin-left: 40px;

  }
}

/* ログイン後 */
.account-name {
  color: $main-letter-color;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 10px;

  /* margin-left: 50px; */

}

/* navigation menu ハンバーガー */

@media (max-width: 768px) {
  .header-contents {
    height: 50px;

    .logo {
      margin-top: -8px;

      a {
        font-size: 1.1rem;
      }
    }
  }
  .account-name {
    margin-right: 90px;
  }

  /* ハンバーガーメニュー */

  .header-list2 {
    display: none;
    opacity: 0;

    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 6vh;
    background-color:rgb(234,233,231);
    width: 100%;
    transition: ease 0.3s;
    position: fixed;

    li {
      margin-top: 3px;

   /*    text-align: center; */


      &:last-child {
        margin-right:38px;
      }
    }
    .header-list2.active {
      opacity: 1;

    }
  }

  /* クリック前のボタン */
  .navBtn {
    z-index: 300;
    display: block;
    transition: 0.2s;
    top:0;
  right:0;


  }
  .navBtn div {

    position: absolute;
    z-index: 300;
    top: 22px;
    right: 15px;
    background-color: $main-letter-color;
    height: 1.5px;
    width: 27px;
    transition: 0.2s;

    &:nth-of-type(1) {
      transform: translate(0%, -10px);
    }
    &:nth-of-type(3) {
      transform: translate(0%, 10px);
    }
  }

  .navBtn.active div:nth-of-type(2) {
    opacity: 0;
  }
  .navBtn.active div:nth-of-type(1) {
    transform: rotate(45deg);
  }
  .navBtn.active div:nth-of-type(3) {
    transform: rotate(-45deg);
  }
   .navBtn.active{
    position: fixed;

  }
}
