@import "variable.scss";

/* メインパーツにid or class をindexをボディにつけ、その中に入れ子にしてCSSを記述する */
/* プラウザのキャッシュクリア　ショートカット　Command ＋shift + R */

/* 要修正：：：：320pxi　と　pad proサイズ */

/* index.scss全体共通 */

/* 使い回す
 .wrap {
  width:100%;
  max-width:1200px;
 } */

/* font-size・line-height に　vwを使う
  幅によってサイズ帰る
  heightも幅によって高さを調節してくれる */

/* -----------------------TOP VISUAL-------------------- */
/* 画像スライドショーにする ---ok*/

.top-visual {
  width: 100vw;
  height: 60vh;
  transition: background-image 3s ease; //2.5秒
  background-image: url(../images/sunset-4937813_1920.jpg);
  background-color: $background-color;
  background-position: center center;
  background-size: cover;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;

  .msg-1,
  .msg-2 {
    margin-left: 40px;
    text-shadow: 0 0 40px rgb(19, 19, 18);
    transition: all 1.5s ease;
    z-index: 10;

    &.hide {
      opacity: 0;
    }
  }

  .msg-1 {
    left: 9%;
    top: 20%;
    position: absolute;
  }
  .msg-2 {
    top: 60%;
    right: 10%;
    position: absolute;
  }
}

@media (min-width: 768px) {
  .top-visual {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;

    .msg-1,
    .msg-2 {
      font-size: 1.5rem;
    }

    @media (min-width: 1200px) {
      .msg-1,
      .msg-2 {
        font-size: 1.8rem;
      }

      .msg-1 {
        padding-left: 150px;
      }

      .msg-2 {
        padding-right: 200px;
      }
    }
  }
}

/* hidden-message */
#hidden-message {
  transition: all 1s ease;
  display: none;
  opacity: 0;
  background-color: rgba(66, 65, 65, 0.6);
  text-align: center;
  width: 100vw;
  height: 60vh;
  position: relative;
  color: white;
  font-size: 0.75rem;
  padding: 15px;
  &.show {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /* toで止める */
  }

  .message-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    /*  transform: translateY(-500px); */
  }
  to {
    opacity: 1;
    transform: none;
  }
}

/* hidden-message 320px version */
@media (max-width: 320px) {
  #hidden-message {
    font-size: 0.65rem;
  }
}

/* hidden-message PC version*/
@media (min-width: 768px) {
  #hidden-message {
    padding-top: 70px;
    font-size: 1.1rem;
  }
}

@media (min-width: 1000px) {
  #hidden-message {
    padding-top: 100px;
    line-height: 1.6;
  }
}

/* --------------------MAIN-CONTENTS---------------------- */

/* モバイル版ーー全体共通*/
@mixin mobile-section-setting {
  max-width: 345px;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 30px;
  font-family: $font;
}

@mixin mobile-section-title {
  font-size: 0.9rem;
  color: $main-letter-color;
  text-align: center;
  margin-bottom: 10px;
  padding: 20px;
  transition: all 1s ease;
}

@mixin mobile-section-title-ja {
  font-size: 0.5rem;
}

.space {
  opacity: 0;
}

/* モバイル版ーーーー全体共通　終 */

/*---------------MAIN-CONTENTS INSTRUCTION------------- */
/* -----------------※要、768px PCサイズの編集 ！！！！ーーー*/
/* step1-4は折り目付きリボンのデザインにする */
/* section-title　と　step1-4はアニメーションつけたい */
/* step1-4の下はフワッとコンテンツ出てくる */

/*----------モバイル版　MAIN-CONTENTS-INSTRUCTION--------- */
/* instruction & about モバイル版--全体共通 */

@mixin mobile-how-to-section {
  text-align: center;
  color: $main-letter-color;
  padding: 20px;
  font-size: 0.9rem;
}

/* instruction モバイル版--全体共通 */

/* -------------- モバイル版 about----------- */

.main-contents {
  background-color: $background-color;
  .about {
    @include mobile-section-setting();
    .section-title {

      @include mobile-section-title();
      p {
        @include mobile-section-title-ja();
      }
    }
  }
  .about-contents {
    text-align: center;
    color: $main-letter-color;
    padding: 20px;
    margin-top: -46px;
    font-size: 0.9rem;

    p {
      margin-top: -10px;
      text-align: start;
    }
  }
}

.about-list li {
  text-align: left;
}



/* -------------- モバイル版 instruction----------- */

.main-contents {
  background-color: $background-color;
  .instruction {
    @include mobile-section-setting();
    .section-title {
      @include mobile-section-title();
      p {
        @include mobile-section-title-ja();
      }
    }

    .how-to {
      /* step　候補１
      .step-ribbon {
        position: absolute;
        left: -20px;
        padding: 10px 40px;
        margin: 10px 0 10px;
        text-align: start;
        color: $main-letter-color;
        display: inline-block;
        position: relative;
        background:#19eeb9;
        &::before {
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          border: none;
          border-bottom: solid 15px transparent;
          border-right: solid 20px rgb(149, 158, 155);

        }
      }*/

      /* 候補２ */
      .step-ribbon {
        margin-left: 5px;
        border-bottom: black;
        position: relative;
        padding: 1rem 2rem calc(1rem + 10px);
        background: $button-color;
        width: 40%;
        height: 30px;
        font-family: $font;
        text-align: center;
        color: $main-letter-color;
        &::before {
          position: absolute;
          top: -7px;
          left: -7px;
          width: 100%;
          height: 100%;
          content: "";
          border: 1px solid #000;
        }
      }

      .how-to-contents {
        @include mobile-how-to-section();
        a {
          color: $main-letter-color;
          font-size: 0.3rem;
          &:hover {
            color: rgb(20, 190, 241);
          }
        }
      }
    }
  }
}

.fa-angle-double-down {
  font-size: 3rem;
  padding-bottom: 40px;
}

/* -------------- モバイル版 NEW-EVENT----------- */
.new-event {
  @include mobile-section-setting();
  .section-title {
    @include mobile-section-title();
    p {
      @include mobile-section-title-ja();
    }
  }
}

/* ----------モバイル版 registration------------- */

.registration {
  @include mobile-section-setting();
  .section-title {
    @include mobile-section-title();
    p {
      @include mobile-section-title-ja();
    }
  }

  .join-button,
  .sns {
    text-align: center;
  }

  .join-button {
    padding: 5px 0 20px;

    button {
      padding: 10px 30px;
      background: $button-color;
      border: transparent;
    }
  }
  & a {
    color: $main-letter-color;
  }

  & a:hover {
    color: black;
  }

  .sns {
    font-size: 1.8rem;

    & a {
      margin: 15px;
    }
    & .fa-facebook:hover {
      color: #1a77f2;
    }
    & .fa-twitter:hover {
      color: #1ea2f1;
    }

    & .fa-instagram-square:hover {
      color: #9508b8;
    }
  }

  .eco-image {
    a {
      color: $main-letter-color;
      font-size: 0.3rem;
      &:hover {
        color: rgb(20, 190, 241);
      }
    }
  }
}

/* トップ戻るボタン　back-to-top */
/* モバイル版 */
.back-to-top {
  display: none;
  width: 40px;
  height: 40px;
  background-color: rgb(173, 169, 169, 0.1);
  text-align: center;
  position: fixed;
  bottom: 40px;
  right: 20px;

  &:hover {
    opacity: 1;
  }

  .back-to-top-button {
    border-bottom: 2px solid;
    color: $button-color;
    opacity: 0.6;
    font-size: 1.3rem;
    &:hover {
      opacity: 1;
    }
  }
}

/* PC版 */

@media (min-width: 768px) {
  .back-to-top {
    position: fixed;
    bottom: 40px;
    right: 200px;
  }
}


/* ーーーーーーーーーーーーーーーアニメーーーテストーーーーーーーーーーーーーーーー */
/* スクロールしたらフワッ出てくるようにしたい */
.section-title{
  animation: test 2s;
}

.section-wrapper{
  animation: test 4s;
}

@keyframes test{
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to{
    opacity: 1;
  }
}
