@import "variable.scss";

#index {
  position: relative;
  padding-left: 0;
  margin-left: 0;
}


.modal-bg {
  position: absolute;
  background-color: rgba(58, 59, 58, 0.8);
  height: 100%;
  width: 100%;
  z-index: 100;


}

.login-modal {
  /*  opacity:0;
   visibility:hidden; */
  position: absolute;

  color: $main-letter-color;
  text-align: center;


  width:100%;

  .login-form,
  .signup-form {

    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;

    width: clamp(350px, 50%, 600px);
    text-align: center;

    h3 {
      padding-top: 30px;
    }
  }
  form {
    padding-top: 15px;
    div {
      display: flex;
      justify-content: center;

      padding: 20px 0 20px 0;

      width: 95%;
      margin: 0 auto;
      dt {
        width: 40%;

        text-align: start;
      }
      dd {
        width: 70%;

        [type="email"],
        [type="password"],
        [type="text"] {
          width: 90%;
          height: 30px;
        }
      }
    }

    .login-btn {
      @include button();
      padding: 5px 40px;
    }
  }
}

.login {
  display: block;
  padding: 10px 0 30px;
  font-size: 1.2rem;

  &:hover {
    border-bottom: rgb(128, 128, 128, 0.2) 1px solid;
  }
}

/* close-modal */
.close-modal,
.close-modal2,
.close-modal3 {
  position: relative;
  margin-right: 5px;

  a {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;

    font-size: 1.6rem;
    font-weight: bold;
    &:hover {
      color: $button-color;
    }
  }
}

/*             log in ⏩ sign up                  */

.signup-modal {
  position: absolute;
  color: $main-letter-color;
  /*   height:100%;
   width:100%;
   z-index:100;
   background-color: rgba(58, 59, 58, 0.8);
  */

  .login-form,
  .signup-form {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    margin: 0 auto;
    background-color: white;

    width: clamp(350px, 50vw, 700px);

    text-align: center;
    h3 {
      padding-top: 30px;
    }
  }
  form {
    padding: 15px 0 15px;
    div {
      display: flex;
      justify-content: center;

      padding: 20px 0 20px 0;

      width: 95%;
      margin: 0 auto;
      dt {
        width: 40%;

        text-align: start;
      }
      dd {
        width: 70%;

        [type="email"],
        [type="password"],
        [type="text"] {
          width: 90%;
          height: 30px;
        }
      }
    }

    .login-btn {
      @include button();
      padding: 5px 40px;
    }
  }
}

.signup-btn {
  display: block;
  padding: 0 0 30px;
  font-size: 1.1rem;
  &:hover {
    border-bottom: rgb(128, 128, 128, 0.2) 1px solid;
  }
}

/***************** animation *********************/
/* variabel.scssにも以下の記述あり */
/* 同じ階層にある.loginmodalと.modal-bgにz-indexを記述すると上手くアニメーションが動く */

.loginmodal {
  position: relative;
  z-index: 200;
  transition: all 1s ease;
  opacity: 0;
}
.modal-bg { /* アニメ以外の関する,modal-bgのことは上部に記述 */
  opacity: 0;
  display: none;
  transition: all 1s ease;
}

/* モーダルにactiveクラスつけてアニメーション */
.active {
  opacity: 1;
}


/* ****************validation********************/

/* erorr message */
.email-error,
.password-error,
.nickname-error,
.password-confirm-error
{
  font-size:1rem;
  color:red;
  /* background-color: rgb(216, 112, 112,0.3); */

  margin:0 auto 10px;
}
