@import "./header.scss";






/* PC版　イベント作成フォーム */
@media (min-width:768px){
.post-event{
  width:80%;
  margin : 50px;
  display: flex;
  .mypage-section-title{
    width:30%;
    padding-right:10px;
  }
  .event-form{
    width:50%;





  .form-items{
    display: flex;
    flex: 0 0 60%;
    justify-content: start;
    margin-bottom: 20px;
    dt{
      width:400px;
    }
    dd{
      width:500px;

      input[type="text"],input[type="date"]{
        display: block;
        width:100%;
      }
    }


  }




  .form-items-textarea{
    display: block;
    width:100%;
    height:200px;
  }

  .post-event-button{
    padding:20px;
    text-align: center;
    input[type="submit"]{
      padding:10px;
      width:100%;
      background-color: $button-color;
      border: none;

      &:hover{
        background-color: rgb(30, 219, 156);
      }
    }
  }


}

}
}


/* selectのサイズ、うまくできない。。。 */
.event-category{
  display: block;
  width: 100%;
}
