@import "variable.scss";


/* .wrap{
  width:100%;
  max-width:1200px;
} */

/* ------------------タイムラインとサーチの（枠）の設定---------------------- */
/* timelineとsearchの枠の共通設定 */
@mixin timeline-wrap {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(186, 186, 186);
  margin: 10px;
  color: $main-letter-color;

}



/* timelineとsearchの　共通設定 */

.bg-img {
  @include bg-img();
}

.timeline-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;


  .timeline {
    @include timeline-wrap();

  }

  .search {
    @include timeline-wrap();

  }
}

/* timeline-wrapper　枠　/wrap PC */
@media (min-width: 769px) {
  .timeline-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .search{
      width: 30%;
      min-width: 300px;
    }

    .timeline{
      width: 80%;
      min-width: 500px;
    }

  }
}

/* ------------------タイムライン,サーチ中身の設定---------------------- */



/* ボタン */
@mixin button {
  color: $button-color;
  background-color: $button-color;
      padding: 6px 500px;
      border-radius: 2px;
      border: none;
      color: $main-letter-color;
      &:hover {
        color: black;
        box-shadow:1px 1px rgb(12, 128, 12) ;
      }
}

/* a */
@mixin a{
  color: $main-letter-color;

        &:hover{
          color: $button-color
        }
}
a{
  color: $main-letter-color;

&:hover{
  color: $button-color;
}
.detail-btn{
  color: $main-letter-color;
}
}

.detail{
  padding-top:10px;
text-align: center;
.detail-btn{
  margin: 0 auto;
  @include button();
  padding:0 30px;
  &:hover {
    color: black;
    box-shadow:1px 1px rgb(12, 128, 12) ;
  }
}
}



/*-----------------------  timeline */

.wanted{

  width:95%;
  margin: 0 auto ;

  .filter{
    margin-bottom: 30px;
    text-align: center;
    select{
      width:50%;
      padding: 10px;

    }
  }

  /* icon */

  .posted{
    align-items: center;
    padding:50px 0 50px;
    width:95%;
    margin: 0 auto;

    border-bottom: rgb(189, 185, 185,0.2) 1px solid;
    .posted-event{
     position: relative;
     padding-top:15px;
      display: flex;
      flex-direction: row;

      .openning{
        position: absolute;
        top:0;

        P{
          font-size: 0.8rem;
          font-weight: bold;
          background-color:$button-color;

          padding:3px;
        }
      }


      .icon{

        text-align: center;


      .icon-border{
        border:$button-color 4px double;
        width:100px;
        height:100px;
        border-radius: 50%;

        img{

          width:90px;
          height:90px;
          border-radius: 50%;
          border:5px solid white;
        }

        }

      }
      .nickname{
        font-size:1vw;/* 仮 */
      }
      a{
        @include a();

      }
    }
  }
}

/* タイトル */

.poseted-event-contents{
  width:100%;
  padding-left:20px;




  .posted-event-title{
    width:100%;
    display: flex;
    flex-direction: row;
    text-align: left;


    .event-title{

      font-size: 5rem;/* -------------フォントサイズ　仮------------- */

       width:85%;
       padding-top: 5px;


    }

    .favorite-icon{


      padding-top:5px;
       width:15%;
       font-size:1.2rem;


    }
    .favorite{
      font-size: 1rem;

    }
  }

  .event-info-list{
    display: flex;



    li{
      padding: 5px;
      font-weight: bold;
      font-size: 0.75rem;
    }
  }



  /* ボタン */
  @mixin button {
    color: $button-color;
    background-color: $button-color;
        padding: 6px 15px;
        border-radius: 2px;
        border: none;
        color: $main-letter-color;
        &:hover {
          color: black;
          box-shadow:1px 1px rgb(25, 170, 25) ;
        }
  }



  /* ボタン　*/

  .detail-btn{
    color: $main-letter-color;
  }
  }

  .detail{
    padding-top:10px;
  text-align: center;
  .detail-btn{
    margin: 30px auto 5px;
    @include button();
    padding:5px 100px;
  }
  }


  .detail-btn a:hover{
    color: black;
  }




.event-detail{
  display: flex;
  font-size: 0.9rem;
  padding-top:10px;
  width:90%;
  text-align: center;

}




.joinning-ppl{

        display: flex;
       font-size: 0.9rem;
       justify-content: flex-start;
       margin-top:10px;
    span{
      margin-top:5px;
    }
   .joinner-icons{

    width: 28%;
    position: relative;
    display: flex;
    justify-content: start;
    margin-left:10px;


      .icon-border3{



        &.joinning1{
          z-index:10;
          position: absolute;
          left: 0;
          top:0;



        }

        &.joinning2{
          z-index:20;
          position: absolute;
          left: 13%;



        }

        &.joinning3{
          z-index:30;
          position: absolute;
          left: 26%;



        }

        img{
          display: block;
          width:30px;
          height:30px;
          border-radius: 50%;
          border:5px solid white;


        }
      }
}
}

@media(max-width:768px){
  .event-info-list{
    display: flex;
    flex-direction: column;

  }


}


 /* timeleine　中身　pc */


@media(min-width:768px){
  .event-title{
    h4{
      font-size: 1.5rem;/* -------------フォントサイズ　仮------------- */
    }

  }



}
 /* ---------------------record-------------------- */

 .record-contents{

  width: 95%;
  margin: 20px auto;



 }
 .record{
  width:95%;
  margin:0 auto;

   padding:20px 0 50px;
 .posted{
  .posted-event{

    display: flex;
    flex-direction: row;


    .icon{

      text-align: center;


    .icon-border{
      border:$button-color 4px double;
      width:100px;
      height:100px;
      border-radius: 50%;

      img{

        width:90px;
        height:90px;
        border-radius: 50%;
        border:5px solid white;
      }

      }

    }
    .nickname{
      font-size:1vw;/* 仮 */
    }
    a{
      @include a();

    }
  }
}
.posted{
  align-items: center;
  .posted-event{

    display: flex;
    flex-direction: row;


    .icon{

      text-align: center;


    .icon-border{
      border:$button-color 4px double;
      width:100px;
      height:100px;
      border-radius: 50%;

      img{

        width:90px;
        height:90px;
        border-radius: 50%;
        border:5px solid white;
      }

      }

    }
    .nickname{
      font-size:1vw;/* 仮 */
    }
    a{
      @include a();

    }
  }
}
.record-summary{
  padding-top:10px;
  font-size: 0.9rem;
  width:90%;
}
 }
