@import "variable.scss";


/* .wrap{
  width:100%;
  max-width:1200px;
} */

/* ------------------タイムラインとサーチの（枠）の設定---------------------- */
/* timelineとrecommendationの枠の共通設定 */
@mixin timeline-wrap {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(186, 186, 186);
  margin: 10px;
  color: $main-letter-color;

}
/* timelineとrecommendationの　共通設定 */

.bg-img {
  background-image: url(../images/4858794.jpg);
  background-size: cover;
}

.timeline-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .search {
    @include timeline-wrap();

  }
  .timeline {
    @include timeline-wrap();

  }
}

/* timeline-wrapper　枠　/wrap PC */
@media (min-width: 769px) {
  .timeline-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .search{
      width: 30%;
      min-width: 300px;
    }

    .timeline{
      width: 80%;
      min-width: 500px;
    }

  }
}

/* ------------------タイムライン,サーチ中身の設定---------------------- */



/* ボタン */
@mixin button {
  color: $button-color;
  background-color: $button-color;
      padding: 6px 15px;
      border-radius: 2px;
      border: none;
      color: $main-letter-color;
      &:hover {
        color: black;
        box-shadow:1px 1px rgb(12, 128, 12) ;
      }
}

/* a */
@mixin a{
  color: $main-letter-color;

        &:hover{
          color: $button-color
        }
}
a{
  color: $main-letter-color;

&:hover{
  color: $button-color;
}
.detail-btn{
  color: $main-letter-color;
}
}

.detail{
  padding-top:10px;
text-align: center;
.detail-btn{
  margin: 0 auto;
  @include button();
  padding:0 30px;
  &:hover {
    color: black;
    box-shadow:1px 1px rgb(12, 128, 12) ;
  }
}
}



/*-----------------------  timeline */

.wanted{

  width:95%;
  margin: 0 auto ;

  .filter{
    margin-bottom: 30px;
    text-align: center;
    select{
      width:50%;
      padding: 10px;

    }
  }

  /* icon */

  .posted{
    padding:20px 0 50px;
    border-bottom: rgb(189, 185, 185,0.2) 1px solid;
    .posted-event{

      display: flex;
      flex-direction: row;


      .icon{

        text-align: center;


      .icon-border{
        border:$button-color 4px double;
        width:100px;
        height:100px;
        border-radius: 50%;

        img{

          width:90px;
          height:90px;
          border-radius: 50%;
          border:5px solid white;
        }

        }

      }
      .nickname{
        font-size:1vw;/* 仮 */
      }
      a{
        @include a();

      }
    }
  }
}

/* タイトル */

.poseted-event-contents{
  width:100%;
  padding-left:20px;


  .posted-event-title{
    width:100%;
    display: flex;
    flex: row;
    text-align: left;


    .event-title{

      font-size: 1.1rem;/* -------------フォントサイズ　仮------------- */

       width:85%;
       padding-top: 5px;


    }

    .favorite-icon{


      padding-top:5px;
       width:15%;
       font-size:1.2rem;


    }
    .favorite{
      font-size: 1rem;

    }
  }

  .event-info-list{
    display: flex;


    li{
      padding: 5px;
      font-weight: bold;
      font-size: 0.75rem;
    }
  }

.detail{
text-align: center;
padding:10px 0 30px;
border:solid black 1px;



.detail-btn{
  margin: 0 auto;
  @include button();

  &:hover {

    box-shadow:1px 1px rgb(12, 128, 12) ;
  }
}


}



}

.event-detail{
  display: flex;
  font-size: 0.9rem;
  padding-top:10px;
  span{
    min-width:15%;
  }
}

/* hover時。。なぜか入れ子内で効かないからここに記述 */

.detail-btn a:hover{
  color: black;
}


@media(max-width:768px){
  .event-info-list{
    display: flex;
    flex-direction: column;

  }


}


 /* timeleine　中身　pc */


@media(min-width:768px){
  .event-title{
    h4{
      font-size: 1.5rem;/* -------------フォントサイズ　仮------------- */
    }

  }



}
 /* ---------------------record-------------------- */

 .record-contents{

  width: 95%;
  margin: 20px auto;
 }
 .record{
   border-bottom: rgb(189, 185, 185,0.2) 1px solid;
   padding:20px 0 50px;
 .posted{
  .posted-event{

    display: flex;
    flex-direction: row;


    .icon{

      text-align: center;


    .icon-border{
      border:$button-color 4px double;
      width:100px;
      height:100px;
      border-radius: 50%;

      img{

        width:90px;
        height:90px;
        border-radius: 50%;
        border:5px solid white;
      }

      }

    }
    .nickname{
      font-size:1vw;/* 仮 */
    }
    a{
      @include a();

    }
  }
}
.posted{
  .posted-event{

    display: flex;
    flex-direction: row;


    .icon{

      text-align: center;


    .icon-border{
      border:$button-color 4px double;
      width:100px;
      height:100px;
      border-radius: 50%;

      img{

        width:90px;
        height:90px;
        border-radius: 50%;
        border:5px solid white;
      }

      }

    }
    .nickname{
      font-size:1vw;/* 仮 */
    }
    a{
      @include a();

    }
  }
}
.record-summary{
  padding-top:10px;
  font-size: 0.9rem;
}
 }
