* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
}

header {
  background: url("../images/tree1.png");
  background-position: center;
  background-size: cover;
}
