/* メインパーツにid or class をindexをボディにつけ、その中に入れ子にしてCSSを記述する */
/* プラウザのキャッシュクリア　ショートカット　Command ＋shift + R */


/* フォントファミリー　あとで決める */
/* headerレスポンシブする 320px する　ハンバーガー考慮 */
/* Scss記述に修正する。 */
a{
  text-decoration: none;
}

.logo{
  margin:10px;
  padding-left:10px;
  letter-spacing: 0.1;
  font-size: 1.3rem;


}

.logo a{
  color: rgb(99, 90, 90);
}


.header-content {
  display: flex;
  justify-content: space-between;
}

.header-list {
  display: flex;
  justify-content: space-between;
  margin:20px 0 10px 20px;
  padding-left:20px;
}

.header-list li{
  margin:0 0 0 20px;
  font-size:0.7rem;

}



.header-list li a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}


.header-list li a:hover{
  color: rgb(24, 23, 23);
}


#header{
  widows: 100%;
  h1{
    color: blue;
  }
}

@media(max-width:380px){
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .logo{
      font-size: 1rem;
    }
  }
}

@media(max-width:320px){

  /* レスポンシブ　320pxだと、headerバランス悪い 位置考える いっそのことハンバーガーにするか。*/

    .header-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left:100px;
      margin-top: -0.3px;

    }

    .logo{
      font-size: 1rem;
    }

}

@media(min-width:768px){
  .header-content{
    padding: 20px 30px;
  }

  .logo{
    font-size: 2rem;
  }

  .header-list li{
    font-size:1rem;
    margin-right:20px;
  }

}
